OWNER_ID = "20516707"
TELEGRAM_API_HASH = "xyz"
TELEGRAM_API_ID = "123"
TELEGRAM_BOT_TOKEN = "1234:abcd"
TELEGRAM_BOT_USERNAME = "InstantLinkELBot"
TELEGRAM_CHANNEL_ID = "-1001979167499"
DB_URL = "postgresql://uname:pass@locahost:5432/dbname"
SUB_CHANNEL="-1001294698786"
SUB_CHANNEL_LINK = "https://t.me/+UUFgjjQyYmY1"
RSTRT_INTERVAL = "3600"
PING_INTERVAL = "1200"